{
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "endOfLine": "auto",
  "bracketSameLine": true,
  "overrides": [
    {
      "files": ["*.js", "*.tsx", "*.ts"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
