:root {
    --color-lightText: #626161;
    --color-primaryBackground: #1A1B1E;
    --color-lighterBackground: #222327;

    --font-primary: 'Assisant', sans-serif;
}

body {
    font-family: 'Assistant', sans-serif;
}